.cards__list {
  max-width: 880px;
  margin: 0 auto 67px;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 17px;
  row-gap: 21px;
}

.card {
  position: relative;
  max-width: 282px;
  width: 100%;
  height: 361px;
  background-color: #ffffff;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  cursor: pointer;
}

.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: 0.6;
}

.card__description {
  padding: 25px 20px 31px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  max-width: 225px;
  margin: 0;

  font-weight: 900;
  font-size: 24px;
  line-height: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__like-button {
  width: 21px;
  height: 19px;

  border: none;
  background-color: transparent;
  cursor: pointer;

  background-image: url("../images/like_button.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button_active {
  background-image: url("../images/like_button_black.png");
}

@media screen and (max-width: 800px) {
  .cards__list {
    max-width: 550px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .cards__list {
    max-width: 282px;
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin-bottom: 50px;
  }
}
