.delete-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", Arial, sans-serif;
  display: none;
  align-items: center;
  justify-content: center;
}

.delete-popup__container {
  max-width: 430px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
}

.delete-popup__close-button {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background: transparent;
  background-repeat: no-repeat;
  position: absolute;
  top: -36px;
  right: -45px;
}

.delete-popup__close-button:hover {
  opacity: 60%;
}

.delete-popup__title {
  max-width: 358px;
  width: 100%;
  padding: 34px 36px 38px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
}

.delete-popup__submit-button {
  max-width: 358px;
  width: 100%;
  height: 50.15px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 18px;
  margin: 0 36px 36px;
}

.delete-popup__submit-button:hover {
  opacity: 80%;
}

.delete-popup__opened {
  display: flex;
}

@media screen and (max-width: 550px) {
  .delete-popup__container {
    max-width: 75vw;
  }

  .delete-popup__close-button {
    width: 30px;
    height: 30px;
    top: -30px;
    right: -35px;
  }

  .delete-popup__submit-button {
    max-width: 60vw;
    margin: 0 34px 34px;
  }
}

@media screen and (max-width: 360px) {
  .delete-popup__close-button {
    top: -25px;
    right: -33px;
  }

  .delete-popup__submit-button {
    max-width: 60vw;
    margin: 0 25px 25px;
  }
}
