.photo-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", Arial, sans-serif;
  display: none;
  align-items: center;
  justify-content: center;
}

.photo-popup__container {
  position: relative;
}

.photo-popup__close-button {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background: transparent;
  background-repeat: no-repeat;
  position: absolute;
  top: -36px;
  right: -45px;
}

.photo-popup__close-button:hover {
  opacity: 60%;
}

.photo-popup__image {
  max-width: 75vw;
  width: 100%;
  max-height: 75vh;
  height: 100%;
  object-fit: cover;
}

.photo-popup__name {
  color: white;
  max-width: 816px;
  width: 100%;
  padding-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
}

.photo-popup__opened {
  display: flex;
}

@media screen and (max-width: 450px) {
  .photo-popup__close-button {
    width: 30px;
    height: 30px;
    top: -30px;
    right: -35px;
  }
}

@media screen and (max-width: 320px) {
  .photo-popup__close-button {
    top: -25px;
    right: -33px;
  }
}
