.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__container {
  max-width: 430px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
}

.popup__close-button {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close-button:hover {
  opacity: 60%;
}

.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__title {
  max-width: 358px;
  width: 100%;
  padding: 34px 36px 54px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
}

.popup__fieldset {
  max-width: 358px;
  width: 100%;
  height: 29px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  margin-bottom: 29.74px;
  display: flex;
  flex-direction: column;
}

.popup__fieldset:last-of-type {
  margin-bottom: 0;
}

.popup__input {
  border: none;
  font-size: 14px;
  line-height: 1;
  height: 29px;
}

.popup__input:invalid {
  border-bottom: 1px solid #ff0000;
}

.popup__input-error_active {
  color: #ff0000;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}

.popup__submit-button {
  max-width: 358px;
  width: 100%;
  height: 50.15px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 18px;
  margin: 48px 0 36.51px;
}

.popup__submit-button:hover {
  opacity: 80%;
}

.popup__submit-button_inactive {
  background-color: #ffffff;
  color: #cccccc;
  cursor: not-allowed;
  pointer-events: none;
  border: 1px solid #cccccc;
}

@media screen and (max-width: 550px) {
  .popup__container {
    max-width: 300px;
  }

  .popup__close-button {
    top: -55px;
    right: 5px;
  }

  .popup__title,
  .popup__fieldset {
    max-width: 280px;
  }

  .popup__title {
    padding: 34px 20px 54px;
  }

  .popup__submit-button {
    max-width: 238px;
  }
}
