.profile {
  max-width: 880px;
  width: 100%;
  margin: 40px auto 50px;
  color: #ffffff;
  display: flex;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__image-button {
  border: none;
  cursor: pointer;
  background: transparent;
  position: relative;
  width: 120px;
  height: 120px;
  margin-right: 30px;
}

.profile__image-button:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.profile__image-button:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  background-image: url("../images/profile_edit_button.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 2;
}

.profile__info {
  width: 415px;
  height: 77px;
  display: grid;
  grid-template-areas:
    "name name icon"
    "description . .";
  column-gap: 18px;
  align-self: center;
}

.profile__name {
  grid-area: name;
  font-size: 42px;
  line-height: 1.14;
  font-weight: 500;
  margin: 0 0 16px 0;
  overflow: hidden;
}

.profile__description {
  grid-area: description;
  font-size: 18px;
  line-height: 1;
  overflow: hidden;
}

.profile__edit-button {
  grid-area: icon;
  height: 24px;
  width: 24px;
  border: solid 2px #ffffff;
  background-color: #000000;
  cursor: pointer;
  align-self: center;
  margin: 0 0 10px 0;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__add-button {
  width: 155px;
  height: 50px;
  border: solid 2px #ffffff;
  margin-left: auto;
  background-color: #000000;
  cursor: pointer;
  align-self: center;
}

.profile__add-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 800px) {
  .profile {
    max-width: 700px;
  }

  .profile__image {
    margin-right: 15px;
  }
  .profile__image-button {
    margin-right: 15px;
  }

  .profile__info {
    width: 360px;
    column-gap: 1px;
  }

  .profile__name {
    font-size: 35px;
  }
}

@media screen and (max-width: 650px) {
  .profile {
    max-width: 450px;
  }

  .profile__name {
    width: 100px;
    font-size: 25px;
    line-height: 1;
    align-self: baseline;
    margin-bottom: 14px;
  }

  .profile__description {
    font-size: 14px;
    max-width: 280px;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .profile {
    max-width: 282px;
    margin: 42px auto 36px;
    flex-direction: column;
    align-items: center;
  }

  .profile__image {
    margin: 0 0 30px 0;
  }
  .profile__image-button {
    margin: 0 0 30px 0;
  }

  .profile__info {
    max-width: 282px;
    height: 50px;
    width: 100%;
    grid-template-areas:
      "name icon"
      "description description";
    column-gap: 10px;
  }

  .profile__name {
    width: 196px;
    font-size: 22px;
    line-height: 1;
    align-self: baseline;
    margin-bottom: 14px;
    justify-self: flex-end;
  }

  .profile__description {
    font-size: 14px;
    max-width: 280px;
    text-align: center;
  }

  .profile__add-button {
    width: 100%;
    margin-top: 36px;
  }
}
