@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");
@import url("./blocks/page.css");
@import url("./blocks/header.css");
@import url("./blocks/profile.css");
@import url("./blocks/elements.css");
@import url("./blocks/footer.css");
@import url("./blocks/popup.css");
@import url("./blocks/profile-popup.css");
@import url("./blocks/cards-popup.css");
@import url("./blocks/photo-popup.css");
@import url("./blocks/delete-popup.css");
@import url("./blocks/photo-profile-popup.css");
